.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 2; 
}

.homepage-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.carussel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  z-index: 2; 
}

.titulo {
    color: transparent; 
    text-shadow: none; 
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 4rem; 
    margin: 0;
    padding: 0.5rem;
    letter-spacing: 0.1rem; 
    text-transform: uppercase; 
    background: linear-gradient(180deg, #09780d, rgb(224, 224, 224)); 
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
  }

.explore-button {
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.explore-button:hover {
  background-color: #388e3c; /* Verde más oscuro */
}

/* Asegura que el carrusel ocupe toda la pantalla */
.full-screen-carousel {
  height: 100vh; 
  overflow: hidden;
}

.carussel{
  z-index: 1;
  height: 1000px; 
  height: 1000px;
}

/* Configuración para las imágenes */
.uk-slideshow-items li img {
  object-fit: cover; /* Ajusta la imagen para que siempre cubra el área disponible */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1400px) {
  .homepage {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 2; 
  }

  /* Ajustar el carrusel para que cubra toda la pantalla en móviles */
  .uk-slideshow-items li img {
    width: 100vw; /* Aseguramos que la imagen ocupe todo el ancho */
    height: 100vh; /* Aseguramos que la imagen ocupe toda la altura */
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover; /* Aseguramos que la imagen cubra el área sin deformarse */
    z-index: 3;
  }

  .homepage-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

  .carussel{
    height: 10000px; /* Aseguramos que el carrusel ocupe toda la pantalla */
    width: 10000px; /* Aseguramos que el carrusel ocupe toda la pantalla */
  }

  .carussel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Fondo oscuro sobre el carrusel */
    backdrop-filter: blur(5px);
    z-index: 2;
  }
}
